* {
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}


.wrapper {
    width: 380px;
    height: 560px;
    margin-top: 40px;
    background-color: #1c1c1c;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #1c1c1c;
}

.screen {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: end;
    align-items: flex-end;

}

.screen span {
    color: white;
    text-align: right;
    width: 100%;
    font-size: 40px;
    padding-right: 10px;
}

.buttons {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}

.btn {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #505050;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}

.btn-text {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zero {
    width: 180px;
    border-radius: 40px;
}

.btn.sign {
    background-color: #ff9500;
}

.btn.fline {
    background-color: #D4D4D2;
    color: black;
}

.pressed {
    opacity: 0.6;
}