table td ,th {
    width: 200px;
    height: 50px;
    background: linear-gradient(to bottom , #414241 ,#212121 );
    color: #929B95;
    box-shadow: -1px 3px 29px -2px rgba(0,0,0,0.86);
    font-weight: 700;
}


table td {
    padding-left: 20px;

}

table th:last-child {
    width: 80px;
}


table td:hover {
    background: linear-gradient(to bottom , #373837 ,#1a1818 );

}



button {
    width: 100px;
    height: 52px;
    background: linear-gradient(to bottom , #414241 ,#212121 );
    color: #929B95;
    box-shadow: -1px 3px 29px -2px rgba(0,0,0,0.86);
    cursor: pointer;
    font-weight: 700;
}

button:hover {
    background: linear-gradient(to bottom , #114d11 ,#15d84f );
    color: wheat;
}