@font-face {
    font-family: Helvetica;
    src: url(Helvetica.ttf);
}
@font-face {
    font-family: SFProTextRegular;
    src: url(SFProText-Regular.ttf);
}
@font-face {
    font-family: Exo-Bold;
    src: url(Exo-Bold.ttf);
}
