@font-face {
    font-family: HelveticaNue;
    src: url(HelveticaNue.ttf);
}

@font-face {
    font-family: ProximaNova;
    src: url(ProximaNova.ttf);
}

@font-face {
    font-family: billabong;
    src: url(billabong.ttf);
}

@font-face {
    font-family: Vegan;
    src: url(Vegan.ttf);
}

@font-face {
    font-family: bluevinil;
    src: url(bluevinil.otf);
}